extends layout 

block content
  div#createform
    h1 #{title}: #{origin.name.toLowerCase()}
    if (products=='') 
      p Origin: 
        a(href=origin.url) #{origin.name}
      p Do you really want to delete this origin?
      form(method='POST' action='')
        div#formpassword
          label(for='password') Password: 
          input(type='password' placeholder='Password' name='password' required='true')
        div#formsubmit
          input#originid(type='hidden' name='originid' required='true' value=origin._id)
          input(type='submit' value='Delete')
    else 
      h3 Delete these products before deleting the origin: 
      div#products
        ul
          each product in products
            li
              img#produce_img(src=product.image_url)
              p= product.name
              p $#{product.price}
              a(href=product.url) See details
              br
              br
              a#delete(href=product.url+'/delete') Delete product

    if errors
      ul
        for error in errors
          li!= error.msg
